

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root{
  --red: #d01c28;
  --gray: #2e2e2e;
}
button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  color: white;
  font-weight: 500;
}
.contaner{
max-width: 1280px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  
  height: 72px;
  align-items: center;
}
nav ul{
  display: flex;
  list-style-type: none;
  gap: 24px;
}
nav ul li:hover{
  background-color: var(--red);
  margin-top: 3px;
  height: 2px;
}
.hero{
display: flex;
align-items: center;
height: calc(100vh-72);
}
.hero h1{
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
}
.hero p{
  font-weight: 600;
  color: var(--gray);
}
.hero-btn{
  display: flex;
  gap: 40px;
}
.seconderybtn{
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.seconderybtn:hover{
 background-color: var(--gray);
 color: wheat;
}
.shopping{
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icon{
  display: flex;
  gap: 16px;
}